@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* TODO: figure out this background color */
    background-color: #FFFFF3;
}

main {
    background-color: #FFFFF3;
}

ion-icon {
    color: #337CA0;
    pointer-events: none;
}

#copy-icon {
    color: gray;
    margin-left: 3%;
    padding: 0 1%;
    /* TODO: size is hard coded, should revisit, same as below */
    font-size: 1.3em;
}

#dialog-copy {
    margin-left: 1%;
    padding: 0 1%;
    font-size: 1.3em;
}

#generated-copy-icon {
    color: #337CA0;
    margin-left: 10%;
    font-size: 1.7em
}

#settings-icon {
    font-size: 1.2rem;
}