@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* background-color: #F5F1E0; */
    background-image: linear-gradient(to bottom, #f5f1e0, #f6f3e4, #f8f4e8, #f9f6ec, #faf8f0);
}

main {
    /* background-color: #F5F1E0; */
    background-image: linear-gradient(to bottom, #f5f1e0, #f6f3e4, #f8f4e8, #f9f6ec, #faf8f0);
}

ion-icon {
    color: #337CA0;
    pointer-events: none;
}

#copy-icon {
    color: gray;
    margin-left: 3%;
    padding: 0 1%;
    /* TODO: size is hard coded, should revisit, same as below */
    font-size: 1.3em;
}

#dialog-copy {
    margin-left: 1%;
    padding: 0 1%;
    font-size: 1.3em;
}

#generated-copy-icon {
    color: #337CA0;
    margin-left: 10%;
    font-size: 1.7em
}

#settings-icon {
    font-size: 1.2rem;
}